@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* html *{
	font-family: 'Roboto', sans-serif;
} */

.button {
	transition: .2s;
	cursor: pointer;
}
.button:hover {
	transition: .2s;
	transform: scale(1.02);
}

.bt {
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px;
	height: auto;
	font-size: 18px;
	color: #121212;
	margin: 7px;
	font-weight: 500;
	font-size: 18px;
}

input, select {
	display: block;
	height: 50px;
	width: 90%;
	border: none;
	border-radius: 2px;
	padding: 10px;
	box-sizing: border-box;
}

input:hover,
input:focus,
input:active:focus {
color: #0DDDFF;
outline: none;
border-bottom: 1px solid #0DDDFF;
}

input:hover::placeholder,
input:focus::placeholder,
input:active:focus::placeholder {
position: relative;
-webkit-transform: translateY(-2px);
transform: translateY(-2px);
}